* {}

.form {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;

}

.form h2 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, rgba(214, 118, 118, 1) 0%, rgba(205, 152, 183, 1) 100%, rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: calc(38px + 2vmin);
}

.form label {
    text-align: right;
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.form input,
select {
    display: inline-block;
    width: 400px;
    color: #695861;
    border: none;
    border-bottom: dotted 1px #f4e7ee;
}

.form p {
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    color: lightslategray;
    font-style: italic;
}

.form button {
    text-decoration: none;
    border: none;
    padding: 10px 35px;
    font-size: 16px;
    background: linear-gradient(90deg, rgba(214, 118, 118, 1) 0%, rgba(205, 152, 183, 1) 100%, rgba(255, 255, 255, 1) 100%);
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

.form button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

input:focus {
    border-color: rgb(211, 168, 175);
}