@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800');

* {
  font-family: 'Montserrat';
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: white;
}

